[project]
	description = https://www.youtube.com/playlist?list=PLRqwX-V7Uu6ZiZxtDDRCi6uhfTH4FilpH
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zero Liu (zeroliu)
[access "refs/for/refs/*"]
	read = group user/Zero Liu (zeroliu)
	push = group user/Zero Liu (zeroliu)
	label-Code-Review = -2..+2 group user/Zero Liu (zeroliu)
	label-Verified = -1..+1 group user/Zero Liu (zeroliu)
	rebase = group user/Zero Liu (zeroliu)
	removeReviewer = group user/Zero Liu (zeroliu)
	submit = group user/Zero Liu (zeroliu)
[access "refs/heads/*"]
	read = group user/Zero Liu (zeroliu)
	create = group user/Zero Liu (zeroliu)
	push = +force group user/Zero Liu (zeroliu)
	pushMerge = group user/Zero Liu (zeroliu)
[access "refs/tags/*"]
	push = group user/Zero Liu (zeroliu)
	push = +force group user/Zero Liu (zeroliu)
